regionDepthLimit = 4
blockLengthLimit = 50
defaultProb = 1



arith.addui_extended = 0
arith.andi = 0
arith.bitcast = 0
arith.ceildivsi = 0
arith.ceildivui = 0
arith.floordivsi = 0
arith.index_castui = 0

arith.maxsi = 0
arith.maxui = 0
arith.minf = 0
arith.minsi = 0
arith.minui = 0
arith.mulsi_extended = 0
arith.mului_extended = 0
arith.ori = 0

arith.shli = 0
arith.shrsi = 0
arith.shrui = 0
arith.truncf = 0
arith.trunci = 0
arith.xori = 0



func.call = 1



math.absf = 0
math.absi = 0
math.atan = 0
math.atan2 = 0
math.cbrt = 0
math.ceil = 0
math.copysign = 0

math.ctlz = 0
math.ctpop = 0
math.cttz = 0
math.erf = 0
math.exp2 = 0
math.expm1 = 0
math.floor = 0
math.fma = 0
math.fpowi = 0
math.ipowi = 0

math.log10 = 0
math.log1p = 0
math.log2 = 0
math.round = 0
math.roundeven = 0
math.rsqrt = 0
math.tan = 0
math.tanh = 0
math.trunc = 0



memref.alloc = 1
memref.alloca = 1
memref.cast = 0
memref.copy = 1
memref.dealloc = 1
memref.load = 1
memref.store = 1



scf.condition = 1
scf.for = 10
scf.if = 10
scf.while = 10
scf.yield = 1
